# ========================================================================================
#  Athena++ astrophysical MHD code
#  Copyright(C) 2014 James M. Stone <jmstone@princeton.edu> and other code contributors
#  Licensed under the 3-clause BSD License, see LICENSE file for details
# ========================================================================================
#  (C) (or copyright) 2020. Triad National Security, LLC. All rights reserved.
#
#  This program was produced under U.S. Government contract 89233218CNA000001 for Los
#  Alamos National Laboratory (LANL), which is operated by Triad National Security, LLC
#  for the U.S. Department of Energy/National Nuclear Security Administration. All rights
#  in the program are reserved by Triad National Security, LLC, and the U.S. Department
#  of Energy/National Nuclear Security Administration. The Government is granted for
#  itself and others acting on its behalf a nonexclusive, paid-up, irrevocable worldwide
#  license in this material to reproduce, prepare derivative works, distribute copies to
#  the public, perform publicly and display publicly, and to permit others to do so.
# ========================================================================================

<comment>
problem = simple example

<job>
problem_id = example

<mesh>
nx1 = 50
x1min = -0.5
x1max = 0.5

ix1_bc = reflecting
ox1_bc = reflecting

nx2 = 1
x2min = -0.5
x2max = 0.5

nx3 = 1
x3min = -0.5
x3max = 0.5

num_threads = 1

<time>
tlim = 1.0

<meshblock>
nx1 = 50
nx2 = 1
nx3 = 1
