variables:
  SCHEDULER_PARAMETERS: '--nodes=1 --partition=power9-eap-ci --export=NONE'
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - performance-target
  - performance-regressio
 
.run-script-with-check: &run-script-with-check
- |
  chmod +x execute_metrics.sh
  STATUS=$(${CI_PROJECT_DIR}/execute_main.sh)
  echo "PASS_OR_FAIL ${STATUS}"
  if [[ "$STATUS" == *"FAILED"* ]]; then exit 1; fi

.gcc-mpi-cuda-performance-regression:
  variables: 
    CMAKE_CXX_COMPILER: $CI_PROJECT_DIR/external/Kokkos/bin/nvcc_wrapper
  script:
    - env
    - git fetch --all
    - printf 'env -i bash --norc --noprofile %s/scripts/darwin/build_fast_target.sh  "%s" "%s" "%s" "%s"\n' ${CI_PROJECT_DIR} ${GITHUB_APP_PEM} ${CI_COMMIT_SHA} ${CI_COMMIT_BRANCH} ${CI_JOB_URL}> execute_main.sh
    - printf 'env -i bash --norc --noprofile %s/scripts/darwin/metrics.sh "%s" "%s/build" "%s" "%s"\n' ${CI_PROJECT_DIR} ${GITHUB_APP_PEM} ${CI_PROJECT_DIR} ${CI_COMMIT_SHA} ${CI_COMMIT_BRANCH}> execute_metrics.sh
    - chmod +x execute_main.sh
    - chmod +x execute_metrics.sh
    - |
      STATUS=$(${CI_PROJECT_DIR}/execute_main.sh)
      echo "PASS_OR_FAIL ${STATUS}"
      if [[ "$STATUS" == *"FAILED"* ]]; then exit 1; fi
    - |
      STATUS=$(${CI_PROJECT_DIR}/execute_metrics.sh)
      echo "PASS_OR_FAIL ${STATUS}"
      if [[ "$STATUS" == *"FAILED"* ]]; then exit 1; fi

.gcc-mpi-cuda-performance-regression-target-branch:
  script:
    - git fetch --all
    - printf 'env -i bash --norc --noprofile %s/scripts/darwin/build_fast_target.sh  "%s" "%s/build" "%s" "%s" "%s %s"\n' ${CI_PROJECT_DIR} ${GITHUB_APP_PEM} ${CI_PROJECT_DIR} ${CI_COMMIT_SHA} ${CI_COMMIT_BRANCH} ${CI_JOB_URL} ${CI_JOB_TOKEN} > execute_target.sh
    - chmod +x execute_target.sh
    - |
      STATUS=$(${CI_PROJECT_DIR}/execute_target.sh)
      echo "PASS_OR_FAIL ${STATUS}"
      if [[ "$STATUS" == *"FAILED"* ]]; then exit 1; fi

parthenon-power9-gcc-mpi-cuda-perf-manual-target-branch:
  extends: .gcc-mpi-cuda-performance-regression-target-branch
  stage: performance-target
  allow_failure: false
  when: manual
  except:
    - schedules

parthenon-power9-gcc-mpi-cuda-perf-manual:
  extends: .gcc-mpi-cuda-performance-regression
  stage: performance-regression
  needs: [parthenon-power9-gcc-mpi-cuda-perf-manual-target-branch]
  except:
    - schedules

parthenon-power9-gcc-mpi-cuda-perf-schedule:
  extends: .gcc-mpi-cuda-performance-regression
  stage: performance-regression
  only:
    - schedules
    - develop

