# Object and binary directories
build*/
bin/
debug*

# Visualization package files
.smhist

# Mac OS metadata
.DS_Store

# editor temp files
*~
*.swp
\#*\#

# Gcov: GCC coverage testing tool- data files
*.gcno
*.gcda

# Gcov log files
*.gcov

# Lcov: graphical frontend for Gcov- tracefiles
*.info

# genhtml test case description format produced by gendesc
*.desc

# User editor files
.vscode
compile_commands.json
.clangd

# HDF5/Output Files
*.phdf
*.phdf.xdmf
*.dat

# Files created by bad CMake hygiene
a.out
cmake_hdf5_test.o
