# ========================================================================================
#  Parthenon performance portable AMR framework
#  Copyright(C) 2023-2025 The Parthenon collaboration
#  Licensed under the 3-clause BSD License, see LICENSE file for details
# ========================================================================================

<parthenon/job>
problem_id = energy_transfer

<parthenon/mesh>
refinement = none
nghost = 3

nx1 = 128
x1min = 0.0
x1max = 6.283185307179586
ix1_bc = periodic
ox1_bc = periodic

nx2 = 128
x2min = 0.0
x2max = 6.283185307179586
ix2_bc = periodic
ox2_bc = periodic

nx3 = 128
x3min = 0.0
x3max = 6.283185307179586
ix3_bc = periodic
ox3_bc = periodic

pack_size = -1

<parthenon/meshblock>
nx1 = 128
nx2 = 64
nx3 = 64

<energy_transfer>
# input_file = enzo_data.bp  # read from ADIOS2/bp5 file (must end in .bp); omit to use meshblock fields
# binning options: lin, log, test
binning = lin
num_shells = 20
compute_UU = true
compute_BB = true
compute_BUT = true
compute_UBTb = true
compute_BUPbb = true
compute_UBPbb = true
compute_PU = true
compute_FU = true
gamma = 1.666667
output_file = transfer_mpi_pencil
output_number = 0
