# ========================================================================================
#  (C) (or copyright) 2024. Triad National Security, LLC. All rights reserved.
#
#  This program was produced under U.S. Government contract 89233218CNA000001 for Los
#  Alamos National Laboratory (LANL), which is operated by Triad National Security, LLC
#  for the U.S. Department of Energy/National Nuclear Security Administration. All rights
#  in the program are reserved by Triad National Security, LLC, and the U.S. Department
#  of Energy/National Nuclear Security Administration. The Government is granted for
#  itself and others acting on its behalf a nonexclusive, paid-up, irrevocable worldwide
#  license in this material to reproduce, prepare derivative works, distribute copies to
#  the public, perform publicly and display publicly, and to permit others to do so.
# ========================================================================================

<parthenon/job>
problem_id = boundary_exchange

<parthenon/mesh>
refinement = static
numlevel = 1
# The structure of the mesh is built in main as a forest

# How many meshblocks to use in a premade default kernel.
# A value of <1 means use the whole mesh.
pack_size = 4

<parthenon/meshblock>
nx1 = 4
nx2 = 4
nx3 = 1

<parthenon/output0>
file_type = hdf5
ghost_zones = true
variables = morton_num
